body {
}

/* video loop for the background */
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.heading {
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 10px 0 0 0;
    background: lightsteelblue;
}

.instructions{
    padding: 10px 15px 2px 15px;
    margin: 10px 0 0 0;
    background: lightgray;
}

.above-random-number {
    margin: 10px 0 0 0;
    text-align: center;
    background: lightsteelblue;
}
.random-number {
    padding: 20px 0 20px 0;
    margin: 0 0 10px 0;
    text-align: center;
    background: lightsteelblue;
}

.above-user-total {
    margin: 10px 0 0 0;
    text-align: center;
    background: lightgoldenrodyellow;
    font-weight: bold;
}
.user-total {
    padding: 20px 0 20px 0;
    margin: 0 0 10px 0;
    text-align: center;
    background: lightgoldenrodyellow;
}

.totals {
    margin: 10px 0 0 0;
    text-align: center;
    background: lightsalmon;
}
.message {
    margin: 0;
    text-align: center;
    background: lightgoldenrodyellow;
}

img {
    width: 100%;
}

.crystals {
    width: 100%;
}

  /* When screen size 960px and below */
  @media screen and (max-width: 960px) {
    /* increase button size so don't shrink too much */
    button {
      width: 150%;
    }
  }

  /* When screen size 575px and below */
  @media screen and (max-width: 575px) {
    /* decrease button img and size - at 575px the buttons went from tiny to huge */
    img {
      width: 30%;
    }
    button {
        width: 50%;
    }
  }